@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
    line-height: 150%;
}

html {
    background-color: hsl(0, 0%, 8%);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: hsl(0, 0%, 12%);
    padding: 1.5rem;
    max-width: 25rem;
    border-radius: 1rem;
}

img {
    max-width: 6rem;
    border-radius: 8rem;
    margin-bottom: 1.5rem;
    align-self: center;
}

.name {
    font-size: 1.5rem;
    font-weight: 600;
}

.location {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: hsl(75, 94%, 57%);
}

.bio {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

ul {
    margin-bottom: 0.5rem;
}

li {
    font-size: 0.9rem;
    font-weight: 700;
    list-style: none;
    padding: 0.75rem;
    background: hsl(0, 0%, 20%);
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

a {
    text-decoration: none;
}

li:hover, li:focus {
    background: hsl(75, 94%, 57%);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(227, 37%, 62%);
}

@media screen and (min-width:30rem) {
    .card {
        min-width: 20rem;
    }
}